In [13]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, date
import warnings

warnings.filterwarnings("ignore")

ModuleNotFoundError: No module named 'plotly'

In [3]:
Patients_df=pd.read_excel("HospitalDatabase .xlsx","Patients")

In [4]:
Discharges_df=pd.read_excel("HospitalDatabase .xlsx","Discharges")

In [5]:
EDVisits = pd.read_excel("HospitalDatabase .xlsx", "EDVisits")

In [6]:
AmbulatoryVisits_df = pd.read_excel("HospitalDatabase .xlsx", "AmbulatoryVisits")

In [7]:
Providers_df = pd.read_excel("HospitalDatabase .xlsx", "Providers")

In [8]:
EDUnique_df = pd.read_excel("HospitalDatabase .xlsx", "EDUnique")

In [9]:
ReAdmissionRegistry_df = pd.read_excel("HospitalDatabase .xlsx", 'ReAdmissionRegistry')

### Q1.Loop through rows of a data frame to find the last names of patient.

In [10]:
# Loop through rows of a data frame to find the last names of patient.
for (index, row) in Patients_df.iterrows():
    if row.FirstName == "Carmine":
        print(row.LastName)

Texas
Steuhlmeyer

### Q2. Grouped Bar Chart : To find the number of patients discharged by Primary diagnosis

In [11]:
Exp_home_tra = Discharges_df.groupby(["PrimaryDiagnosis", "DischargeDisposition"], as_index=False).agg({'PatientID': pd.Series.count})
Exp_home_tra.head()

  PrimaryDiagnosis DischargeDisposition  PatientID
0              AMI              Expired          6
1              AMI                 Home         42
2             Afib              Expired          4
3             Afib                 Home          6
4             Afib             Transfer          1

In [18]:
import plotly.express as px
g_bar = px.bar(Exp_home_tra,
               x='PrimaryDiagnosis',
               y='PatientID',
               title='DischargeDisposition by PrimaryDiagnosis',
               color='DischargeDisposition',
               barmode='group')
 
g_bar.update_layout(xaxis_title='PrimaryDiagnosis',
                    yaxis_title='Number of Patients',
                    xaxis={'categoryorder':'total descending'},
                    yaxis=dict(type='log'))
 
g_bar.show()

ModuleNotFoundError: No module named 'plotly'

### Q3 . Applying indicator flag in merging the dataframes.

In [14]:
"""Indicator Flag :adds a column to the output DataFrame called "_merge" with
     information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
     appears in the left DataFrame, "right_only" for observations
     whose merge key only appears in the right DataFrame, and "both"
     if the observation's merge key is found in both DataFrames."""

merge_df1=pd.merge(Patients_df,Discharges_df,on="PatientID",how="left",indicator=True)
merge_df1.head()

,PatientID,FirstName,LastName,DateOfBirth,Gender,Race,Language,AdmissionID,AdmissionDate,DischargeDate,DischargeDisposition,Service,PrimaryDiagnosis,ExpectedLOS,ExpectedMortality,_merge
0,1,Lanni,Sue,1960-01-01 00:00:00.000,Male,White,English,389.0,2018-01-01,2018-01-04 19:59:31.391,Home,Hospitalist,Kidney Failure,6.717771,0.010046,both
1,2,Far,Myers,1985-11-15 02:08:42.090,Male,White,English,635.0,2018-01-01,2018-01-04 21:28:51.898,Home,General Medicine,Flu,3.825969,0.604562,both
2,3,Devlin,Michael,1976-04-15 02:52:09.762,Male,White,English,606.0,2018-01-01,2018-01-04 22:28:23.672,Home,General Medicine,Flu,3.382493,0.266137,both
3,4,Carmine,Texas,1968-10-15 03:32:13.635,Male,White,English,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,left_only
4,5,Tann,Bama,1962-05-01 19:12:58.950,Male,White,English,587.0,2018-01-01,2018-01-05 05:47:04.933,Home,General Medicine,Flu,3.763352,0.307527,both

### Q4:details for patient who has maximum pulse (AmbalatoryVisits table)

In [15]:
print(AmbulatoryVisits_df['Pulse'].max())
AmbulatoryVisits_df['VisitDepartmentID'].loc[AmbulatoryVisits_df['Pulse'].idxmax()]

99.98646314

6

### Q5: Searching for patterns in Text using Regular Expressions

In [16]:
import re

# List of patterns to search for
patterns = ['term1', 'term2']

# Text to parse
text = 'This is a string with term1, but it does not have the other term.'

for pattern in patterns:
    print('Searching for "%s" in:\n "%s"\n' %(pattern,text))
    
    #Check for match
    if re.search(pattern,text):
        print('Match was found. \n')
    else:
        print('No Match was found.\n')

Searching for "term1" in:
 "This is a string with term1, but it does not have the other term."

Match was found.

Searching for "term2" in:
 "This is a string with term1, but it does not have the other term."

No Match was found.